<% content_for :main do %>
<script type="text/javascript" charset="utf-8">
    window.UEDITOR_HOME_URL = "/ueditor1_2_3_0-utf8-net/";
</script>
<script type="text/javascript" charset="utf-8" src="/ueditor1_2_3_0-utf8-net/editor_config.js"></script>
<script type="text/javascript" charset="utf-8" src="/ueditor1_2_3_0-utf8-net/editor_all.js"></script>
<link rel="stylesheet" type="text/css" href="/ueditor1_2_3_0-utf8-net/themes/default/ueditor.css"/>

<div class="row">
  <div class="twelve columns">

      <%= form_tag({:action => "create"}, {:class => "custom"}) do %>
        <fieldset style="padding:10px;">
          <legend>添加题目</legend>
        <input id="swfUploadCookie" type="text" value="<%= @swfupload_cookie %>" style="display:none;"/>
        <label>题目内容</label>
          <textarea id="qContent" name="content"></textarea>
        <label for="answer">正确答案</label>
        <label for="radioA" style="float:left; margin-left: 20px;"><input name="answer" type="radio" id="radioA" value="A"> A</label>
        <label for="radioB" style="float:left; margin-left: 20px;"><input name="answer"type="radio" id="radioB" value="B"> B</label>
        <label for="radioC" style="float:left; margin-left: 20px;"><input name="answer" type="radio" id="radioC" value="C" CHECKED> C</label>
        <label for="radioD" style="float:left; margin-left: 20px;"><input name="answer" type="radio" id="radioD" value="D"> D</label>
        <div style="clear: both"></div>
        <label for="questionCategoriesSelect">所属类别</label>
        <%= render :partial => "shared/y_recursion_selects", :locals => { :id => "questionCategoriesSelect" } %>
          <input type="submit"  value="保存" class="small button" style="float: right;" />
        </fieldset>

      <% end %>
  </div>
</div>
<% end %>