<% content_for :main do %>
<div class="row">
  <table class="twelve">
    <thead>
    <tr>
      <th>Table Header</th>
      <th>Table Header</th>
      <th>Table Header</th>
      <th>Table Header</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>试卷管理</td>
      <td>This is longer content</td>
      <td>Content</td>
      <td>Content</td>
    </tr>
    <tr>
      <td>Content</td>
      <td>This is longer content</td>
      <td>Content</td>
      <td>Content</td>
    </tr>
    <tr>
      <td>Content</td>
      <td>This is longer content</td>
      <td>Content</td>
      <td>Content</td>
    </tr>
    <tr>
      <td>Content</td>
      <td>This is longer content</td>
      <td>Content</td>
      <td>Content</td>
    </tr>
    </tbody>
  </table>
</div>
<% end %>
